target
/bin

.mvn

# Ignore Eclipse project files
.project
.settings
.classpath

# Ignore IDEA project files
*.ipr
*.iml
*.iws
.idea/

# Ignore editor temporary files
*.swp
~*
*~
.*~

# Ignore OS hidden files
.DS_Store