language: java

dist: trusty

jdk:
  - openjdk8

sudo: false

cache:
  directories:
    - $HOME/.m2

before_install:
  - bash ./.travis/setup-deploy.sh

deploy:
  provider: script
   skip_cleanup is to keep the artifacts from the build phase
  skip_cleanup: true
  script: mvn -DskipTests -Psigned -B deploy